.primary_dark {
  background-color: #2a2c39;
}

.primary_light_dark {
  background-color: #393e52;
}

.blue_light {
  background-color: #0bb1d5;
}

.blue_dark {
  background-color: #3d8ef7;
}

.red {
  background-color: #ff4c52;
}

.green {
  background-color: #13b4a0;
}

.orange {
  background-color: #ff894c;
}

.yellow {
  background-color: #faa700;
}

.purple {
  background-color: #8e2bf1;
}

.logInCard {
  padding: 50px !important;
  padding-top: 25px !important;
}

.login_logo {
  width: 160px;
  height: 160px;
  font-size: 160px;
}

.login_input {
  background-color: transparent !important;
  color: white !important;
}

.login_input::-webkit-input-placeholder {
  color: white !important;
}

.login_input:-ms-input-placeholder {
  color: white !important;
}

.login_input::-ms-input-placeholder {
  color: white !important;
}

.login_input::placeholder {
  color: white !important;
}

.modal-coustom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto !important;
}

.modal-content {
  width: auto !important;
}

.sidebar-container {
  position: relative;
  background-color: #2F3243;
  color: white;
  text-align: center;
  height: 100vh;
}

.sidebar-title {
  position: absolute;
  background-color: #17B4A3;
  text-align: center;
  padding: 20px 25px 20px 25px;
  height: 60px;
  left: 0;
  right: 0;
}

.sidebar-content {
  overflow-y: auto;
  text-align: right !important;
  padding: 25px;
  padding-top: 70px;
  width: 190px;
  height: 100vh;
}

.sidebar-item-title {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.sidebar-item-title span {
  padding-bottom: 10px;
  color: #C6CAD5;
}

.sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.sidebar-item i {
  border-style: solid;
  border-width: 2px;
  border-color: #9D9EA2;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar-item span {
  margin-right: 5px;
}

.sidebar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 10px;
}

.sidebar-list div {
  margin-right: 10px;
}

.content {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.header {
  position: absolute;
  background-color: #17B4A3;
  text-align: center;
  padding: 20px 25px 20px 25px;
  height: 60px;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset -8px 0 6px -1px #524747;
          box-shadow: inset -8px 0 6px -1px #524747;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  color: white;
}

.header-item-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  font-size: 8px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.main-content-container {
  position: relative;
}

.main-content {
  overflow: auto;
  padding-top: 70px;
  height: 100vh;
}

@font-face {
  font-family: 'IRANSans';
  src: url("http://localhost/blog_shop//assets/fonts/IRANSans.ttf") format("truetype");
  font-style: normal;
}

*::-webkit-scrollbar {
  width: 0px;
  background-color: #2a2c39;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #2a2c39;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

*:not(i) {
  font-family: 'IRANSans', Arial, sans-serif !important;
  font-weight: normal !important;
}

.container-true {
  background-color: #2a2c39;
}

.rtl_input {
  text-align: right;
}

.rtl_input::-webkit-input-placeholder {
  text-align: right;
}

.rtl_input:-ms-input-placeholder {
  text-align: right;
}

.rtl_input::-ms-input-placeholder {
  text-align: right;
}

.rtl_input::placeholder {
  text-align: right;
}

.ltr_input {
  text-align: left;
}

.ltr_input::-webkit-input-placeholder {
  text-align: left;
}

.ltr_input:-ms-input-placeholder {
  text-align: left;
}

.ltr_input::-ms-input-placeholder {
  text-align: left;
}

.ltr_input::placeholder {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */