.header {
    position: absolute;
    background-color: $header_green;
    text-align: center;
    padding: 20px 25px 20px 25px;
    height: 60px;
    left: 0;
    right: 0;
    box-shadow: inset -8px 0  6px -1px rgb(82, 71, 71);
    align-items: center;
}
.header-icon {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    color: white;
}
.header-item-badge{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    font-size: 8px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
