.header {
    position: absolute;
    background-color: $primary_light_dark;
    text-align: center;
    padding: 20px 25px 20px 25px;
    height: 60px;
    left: 0;
    right: 0;
    box-shadow: inset -8px 0  6px -4px rgb(47, 41, 41);
}
