$base_url : "http://localhost/blog_shop/";
$primary_dark: #2a2c39;
$primary_light_dark: #393e52;
$blue_light: #0bb1d5;
$blue_dark: #3d8ef7;
$red: #ff4c52;
$green: #13b4a0;
$orange: #ff894c;
$yellow: #faa700;
$purple: #8e2bf1;
$siebar : #2F3243;
$sidebar_item_title : #C6CAD5;
$sidebar_item_logo_border : #9D9EA2;

.primary_dark {
    background-color: $primary_dark;
}

.primary_light_dark {
    background-color: $primary_light_dark;
}

.blue_light {
    background-color: $blue_light;
}

.blue_dark {
    background-color: $blue_dark;
}

.red {
    background-color: $red;
}

.green {
    background-color: $green;
}

.orange {
    background-color: $orange;
}

.yellow {
    background-color: $yellow;
}

.purple {
    background-color: $purple;
}
