@import "_variables.scss";
@import "_LogIn.scss";
@import "_modal.scss";
@import "_sidebar.scss";
@import "_collapse.scss";
@import "_header.scss";
@import "_mainContent.scss";
@import "_dropDown.scss";

@font-face {
    font-family: 'IRANSans';
    src: url($base_url + "/assets/fonts/IRANSans.ttf") format('truetype');
    font-style: normal;
}

* {
    &::-webkit-scrollbar {
        width: 0px;
        background-color: $primary_dark;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: $primary_dark;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }

    &:not(i) {
        font-family: 'IRANSans', Arial, sans-serif !important;
        font-weight: normal !important;
    }
}

.container-true {
    background-color: $primary_dark;
}

.rtl_input {
    &::placeholder {
        text-align: right;
    }

    text-align: right;
}

.ltr_input {
    &::placeholder {
        text-align: left;
    }

    text-align: left;
}
